<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  @entryPointStyles('app')
  @entryPointScripts('app')
</head>

<body>
  @include('layouts/partials/navbar')
  @!section('body')
  @include('layouts/partials/footer')
</body>

</html>